****Transitive nodes**** consist of bidirectionally connected nodes which are used as anchors to retreive additional set of users with reciprocal ties, hence culminating to transitive relations.

In [16]:
import pandas as pd
import numpy as np
from collections import Counter, defaultdict
import json, time, os, re

In [20]:
# ... a collection of nodes with transitive reciprocal ties.
df = pd.read_csv('data/nodes_with_simmelian_ties.csv')
len(df); df.head()

,G2_Anchor,Lineage,BuddyID,BuddyScreenName,BuddyFriends,BuddyFollowers
0,vmochama,genna_buck:vmochama:alexgpaterson,16711211,alexgpaterson,993,920
1,vmochama,genna_buck:vmochama:ShelleyBFarmer,839456750000558080,ShelleyBFarmer,1118,1364
2,vmochama,genna_buck:vmochama:amydempsey,21677048,amydempsey,1263,3749
3,vmochama,genna_buck:vmochama:JakePyne,1041790149925851136,JakePyne,999,1591
4,vmochama,genna_buck:vmochama:TurnbullSarah,355132182,TurnbullSarah,1258,827

**Some examples:** In the following three dataframes, collection of related pairs results in transitive ties. Depending on which node is used in identifying reciprocal ties, the nodes are given in the form of generations spanning the following triplets: $parent:child:grandchild$ ... In the forthcoming examples (and the previous ones), the values in the dataframes are connected to the first generation anchors (G1_Anchor), to second generation anchor (G2_Anchor) via the parent nodes.     
    # ... collection of dyads from transitive set

In [21]:
#Reciprocal ties in unverified users category:
df = pd.read_csv('data/reciprocal_ties_in_unverified_anchors.csv')
len(df); df.head()

,ScreenName,FollowersCount,FriendsCount,Lineage,Status,Class,NetworkSize,Indegree,Outdegree
369,GMan82721611,273,585,jackcade1381:GMan82721611,Child,1,858,0.318182,0.681818
152,jjpaldad,92,130,NaN,Parent,1,222,0.414414,0.585586
546,bordersnbetween,502,1270,FredSeguinPhoto:bordersnbetween,Child,1,1772,0.283296,0.716704
1745,monica_remy,3353,4172,ModernBullWagyu:monica_remy,Child,1,7525,0.445581,0.554419
545,editions_g,4,5,FredSeguinPhoto:editions_g,Child,1,9,0.444444,0.555556

In [22]:
# Reciprocal ties in verified users category:
df = pd.read_csv('data/reciprocal_ties_in_verified_anchors.csv')
len(df); df.head()

,G3_Anchor,ChildID,ChildScreenName,Lineage,ChildFriends,ChildFollowers,PairwiseSize,Tracker
0,amydempsey,119818938,ZosiaBielski,amydempsey:ZosiaBielski,911,2588,1,"(1, 999)"
0,DACrosbie,197458714,DanDelmar,DACrosbie:DanDelmar,860,4666,1,"(1, 999)"
0,NickVanPraet,119818938,ZosiaBielski,NickVanPraet:ZosiaBielski,911,2588,3,"(3, 997)"
1,NickVanPraet,26505168,PaulJournet,NickVanPraet:PaulJournet,2130,40710,3,"(3, 997)"
2,NickVanPraet,20423695,grassreporter,NickVanPraet:grassreporter,862,7802,3,"(3, 997)"

**Example of the data structure** for training a prediction model ...

In [23]:
# set of directed nodes for training:
df = pd.read_csv('data/nodes_with_directed_ties.csv')
len(df); df.head()

,Dyad,B1_ID,B1_ScreenName,B1_CreatedAt,B1_Followers,B1_Friends,B1_Statuses,B1_Description,B1_Location,B1_Favourite,...,B2_Statuses,B2_Description,B2_Location,B2_Favourite,B2_Verification,B2_Tweet,B2_AccountCreated,B2_RTCount,Status,Class
0,"('S4JJ40', 'Ghufran23924906')",744012835311730689,S4JJ40,2016-06-18 03:44:17,983,433,1631,â€â€â€â€â€â€â€â€â€â€â€â€â€â€â€â€â€\nØ±ÙØ¨Ù‘ÙÙ†ÙØ§ Ø¢ØªÙÙ†ÙØ§ ÙÙÙŠ Ø§Ù„Ø¯Ù‘ÙÙ†Ù’...,Kunar ~ Pekhawar,2938,...,4,NaN,NaN,3,False,RT @INReunification: Holi at Quaid-i-Azam Univ...,2019-03-25 19:49:51,84.0,Directed,0
1,"('S4JJ40', 'NajmRT')",744012835311730689,S4JJ40,2016-06-18 03:44:17,983,433,1631,â€â€â€â€â€â€â€â€â€â€â€â€â€â€â€â€â€\nØ±ÙØ¨Ù‘ÙÙ†ÙØ§ Ø¢ØªÙÙ†ÙØ§ ÙÙÙŠ Ø§Ù„Ø¯Ù‘ÙÙ†Ù’...,Kunar ~ Pekhawar,2938,...,2733,#Peace #Respect #love . Engineer #UETi...,NaN,1909,False,Some Lucky Cats in Baitullah Makkah ğŸ˜» https://...,2019-04-15 15:39:22,0.0,Directed,0
2,"('S4JJ40', 'Fatabbayanoo')",744012835311730689,S4JJ40,2016-06-18 03:44:17,983,433,1631,â€â€â€â€â€â€â€â€â€â€â€â€â€â€â€â€â€\nØ±ÙØ¨Ù‘ÙÙ†ÙØ§ Ø¢ØªÙÙ†ÙØ§ ÙÙÙŠ Ø§Ù„Ø¯Ù‘ÙÙ†Ù’...,Kunar ~ Pekhawar,2938,...,53,Afghan / Durrani / Parsi Pataan ğŸ³ğŸ´Youtube Has ...,Graveyard Of SuperPowers,1,False,Fatabayanoo Productions Afghan Nasheed...,2019-04-16 09:46:23,0.0,Directed,0
3,"('S4JJ40', 'lk_bharmalani')",744012835311730689,S4JJ40,2016-06-18 03:44:17,983,433,1631,â€â€â€â€â€â€â€â€â€â€â€â€â€â€â€â€â€\nØ±ÙØ¨Ù‘ÙÙ†ÙØ§ Ø¢ØªÙÙ†ÙØ§ ÙÙÙŠ Ø§Ù„Ø¯Ù‘ÙÙ†Ù’...,Kunar ~ Pekhawar,2938,...,59,NaN,India,201,False,Teri Mitti Female Version - Kesari - Arko feat...,2019-04-16 09:45:52,1.0,Directed,0
4,"('S4JJ40', 'baloghwaqt')",744012835311730689,S4JJ40,2016-06-18 03:44:17,983,433,1631,â€â€â€â€â€â€â€â€â€â€â€â€â€â€â€â€â€\nØ±ÙØ¨Ù‘ÙÙ†ÙØ§ Ø¢ØªÙÙ†ÙØ§ ÙÙÙŠ Ø§Ù„Ø¯Ù‘ÙÙ†Ù’...,Kunar ~ Pekhawar,2938,...,74,21,NaN,568,False,RT @xymtaco: Islam is evolutionary superior an...,2019-04-16 01:28:51,8.0,Directed,0

**See details in:**
* Inuwa-Dutse I., Liptrott M., Korkontzelos Y. (2019) Simmelian ties on Twitter: empirical analysis and prediction. *The Sixth IEEE International Conference on Social Networks Analysis, Management and Security,* SNAMS-2019, Granada

In [14]:
### Collection of Simmelian Ties Data